<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="Listeners.MyListeners"/>
		<listener class-name="Listeners.AnnotationTransformer"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="regchurch.registerchurch.RegisterVbs"/>
      <class name="regchurch.registerchurch.AlertTesting"/>
      <class name="windowhandles.windows"/>
      <class name="regchurch.registerchurch.excelpoi"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
